* {
    box-sizing: border-box;
}

.dog-img {
    position: relative;
}

.dog-individual {
    width: 300px;
    margin: auto;
}

.dog-details {
    /* background: red; */
    position: absolute;
    top: 71%;
    width: 100%;
    color: #ffff;
    padding: 0 .6em;
}

.stamp {
    width: 100px;
    position: absolute;
    top: 5%;
    left: 2%;
    display: none;
}

.stamp img {
 
    width: 100%;
    transform: rotate(-30deg);
}